<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <link rel="stylesheet" type="text/css" href="../static/css/guru.css" />
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="centered">
                <div class="container-fluid">
                    <div class="navbar-collapse collapse">
                        <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="#" th:href="@{/clubs}">Clubs</a></li>
                            <li><a href="#" th:href="@{/club/new}" sec:authorize="hasAuthority('ADMIN')">Create Club</a></li>
                            <li><a href="#" th:href="@{/table}" sec:authorize="isAuthenticated()">Show Table</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" th:href="@{/users}" sec:authorize="hasAuthority('ADMIN')">Show All Users</a></li>
                            <li><a href="#" th:href="@{/register}" sec:authorize="!isAuthenticated()">Sign Up</a></li>
                            <li><a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Sign In</a></li>
                            <li><a href="#" th:href="@{/profile}" sec:authorize="hasAuthority('USER')">Profile</a></li>
                            <li><a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <br />
        <br />
        <div class="welcome">
            <span sec:authorize="isAuthenticated()">
                <div class="row text-center">
                    <h1>
                        <b>
                            Welcome <span sec:authentication="name"></span>
                        </b>
                    </h1>
                </div>
            </span>

        </div>
        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Bundesliga bookmaker (made by 'Widzin')</h2>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/Bundesliga-logo-2010.png" width="400"
                     th:src="@{/images/Bundesliga-logo-2010.png}"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>