input[type=submit] {
     background:none!important;
     border:none;
     padding:0!important;
     color: blue;
     text-decoration: underline;
     cursor:pointer;
}

.centered {
    align-content: center;
    margin-left: 14%;
    margin-right: 15%;
}

.pagination-centered {
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pointer-disabled {
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: hidden;
    padding-bottom: 40px;
}

#footer {
    background-color: #eeeeee;
    position: relative;
    height: 40px;
    margin-top: -40px;
    clear: both;
    text-align: center;
}