<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Bet details</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container" id="container">
        <div id="main">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <div class="row text-center">
                <h2>Bet details</h2>
            </div>
            <div th:if="${not #lists.isEmpty(bets)}">
                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr style="background-color: #1c1818; color: #b9b5b5; font-size: 20px;">
                        <th>Nr</th>
                        <th style="text-align: center">Home Team</th>
                        <th style="text-align: center">Guest Team</th>
                        <th style="text-align: center">Rate</th>
                        <th style="text-align: center">My Prediction</th>
                        <th style="text-align: center">Good prediction</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bet, iterStat : ${bets}" th:class="${iterStat.odd}? 'odd'">
                        <td th:text="${iterStat.count}"><a href="/bet/@{bet.id}" style="text-align: center"/></td>
                        <td th:text="${bet.match.home.clubSeason.club2.name}" style="text-align: center"/>
                        <td th:text="${bet.match.away.clubSeason.club2.name}" style="text-align: center"/>
                        <td th:text="${#numbers.formatDecimal(bet.rate,1,2)}" style="text-align: center"/>
                        <td th:text="${bet.result}" style="text-align: center"/>
                        <span th:switch="${bet.match.played}">
                            <span th:case="true">
                                <td th:if="${bet.matched == true}" style="text-align: center">Yes</td>
                                <td th:if="${bet.matched == false}" style="text-align: center">No</td>
                            </span>
                            <td th:case="false" style="text-align: center">Don't Know</td>
                        </span>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer id="footer">
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>
</body>
<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
</script>
</html>