<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Make bets</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container" id="container">
        <div id="main">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <div th:if="${not #lists.isEmpty(bets)}">
                <div th:if="${param.error}" class="row text-center">
                    <label style="color:red">Wrong input of money.</label>
                </div>
                <div class="row text-center">
                    <h2>Games to bet</h2>
                </div>
                <form class="form-horizontal" th:object="${ticket}" th:action="@{/ticket/create/} + ${ticket.id}" method="POST">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{version}"/>
                    <table id="myTable" class="table table-striped">
                        <thead>
                        <tr style="background-color: #1c1818; color: #b9b5b5; font-size: 20px;">
                            <th>Date</th>
                            <th>Round</th>
                            <th>Home club</th>
                            <th>Guest club</th>
                            <th>1</th>
                            <th>X</th>
                            <th>2</th>
                            <th>Result</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bet : ${bets}">
                            <td th:text="${#dates.format(bet.match.date, 'yyyy/MM/dd')}"/>
                            <td th:text="${bet.match.round}"/>
                            <td th:text="${bet.match.home.clubSeason.club2.name}"/>
                            <td th:text="${bet.match.away.clubSeason.club2.name}"/>
                            <td th:text="${#numbers.formatDecimal(bet.match.rates[0],1,2)}"/>
                            <td th:text="${#numbers.formatDecimal(bet.match.rates[1],1,2)}"/>
                            <td th:text="${#numbers.formatDecimal(bet.match.rates[2],1,2)}"/>
                            <td>
                                <select name="result">
                                    <option th:each="result : ${options}"
                                            th:value="${result}" th:text="${result}">Results</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <label class="col-sm-3 control-label">
                        Money for this bet:
                    </label>
                    <div class="col-sm-2">
                        <input type="text" name="money"/>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default" th:disabled="${disabled}">Make</button>
                    </div>
                    <div th:if="${disabled}" class="col-sm-5">
                        <label style="color:red">You don't have any money to make a bet.</label>
                    </div>
                    <div th:unless="${disabled}" class="col-sm-5">
                        <label style="color: green">
                            You have
                            <span th:text="${#numbers.formatDecimal(user.moneyNow, 1, 2)}"/> on your account.
                        </label>
                    </div>

                </form>
            </div>
            <div th:if="${#lists.isEmpty(bets)}" class="row text-center">
                <h2>There is no chosen matches to bet.</h2>
            </div>
        </div>
    </div>
    <footer id="footer">
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>
</body>
<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
</script>
</html>