<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Clubs</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div th:if="${not #lists.isEmpty(clubs)}">
            <div class="row text-center">
                <h2>Club Listing</h2>
            </div>
            <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Name</th>
                            <th sec:authorize="hasAnyAuthority('USER', 'ADMIN')">View</th>
                            <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
                            <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="club, iterStat : ${clubs}" th:class="${iterStat.odd}? 'odd'">
                            <td th:text="${iterStat.count}"><a href="/club/@{club.id}">Nr</a></td>
                            <td th:text="${club.name}">Name</td>
                            <td sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
                                <a th:href="${'/club/show/' + club.id}">View</a>
                            </td>
                            <td sec:authorize="hasAuthority('ADMIN')">
                                <a th:href="${'/club/edit/' + club.id}">Edit</a>
                            </td>
                            <td sec:authorize="hasAuthority('ADMIN')">
                                <a th:href="${'/club/delete/' + club.id}">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
</script>
</html>