<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>History of club</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container" id="container">
        <div id="main">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <div class="col-lg-12" th:if="${not #lists.isEmpty(allMatches)}">
                <div class="row text-center">
                    <h2>History of <span th:text="${club.name}"></span></h2>
                </div>
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr style="background-color: #1c1818; color: #b9b5b5; font-size: 20px;">
                            <th>Date</th>
                            <th>Home club</th>
                            <th>Score</th>
                            <th>Away club</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="match : ${allMatches}">
                            <td th:text="${#dates.format(match.date, 'yyyy/MM/dd')}">Date</td>
                            <td th:switch="${match.home.clubSeason.club2.name}">
                                <b th:case="${club.name}" th:text="${match.home.clubSeason.club2.name}"/>
                                <span th:case="*" th:text="${match.home.clubSeason.club2.name}"/>
                            </td>
                            <td th:text="${match.home.goals} + ':' + ${match.away.goals}">Score</td>
                            <td th:switch="${match.away.clubSeason.club2.name}">
                                <b th:case="${club.name}" th:text="${match.away.clubSeason.club2.name}"/>
                                <span th:case="*" th:text="${match.away.clubSeason.club2.name}"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer id="footer">
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>
</body>
<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
</script>
</html>