<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Bundesliga Bookmaker</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container" id="container">
        <div id="main">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <div th:if="${param.success}" class="row text-center">
                <label style="color:green">Operation success.</label>
            </div>
            <div th:if="${param.matchPlayed}" class="row text-center">
                <label style="color:green">Match played succesfully.</label>
            </div>
            <div th:if="${param.cannotParseMoney}" class="row text-center">
                <label style="color:red">Operation unsuccesful. Please write only digits in label.</label>
            </div>
            <div th:if="${param.toMuchMoney}" class="row text-center">
                <label style="color:red">Operation unsuccesful. You don't have so much money.</label>
            </div>
            <div th:if="${param.notHisBets}" class="row text-center">
                <label style="color:red">Operation unsuccesful. It wasn't your bet.</label>
            </div>
            <br />
            <h1 style="text-align: center"><strong><i>Evaluate...</i></strong></h1>
            <br />
            <h1 style="text-align: center"><strong><i>Bet...</i></strong></h1>
            <br />
            <h1 style="text-align: center"><strong><i>and Win!</i></strong></h1>
            <br />
        </div>
    </div>
    <footer id="footer">
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>
</body>
</html>