<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Table</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container" id="container">
        <div id="main">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <div th:if="${not #lists.isEmpty(clubs)}">
                <div class="row text-center">
                    <h2>Table</h2>
                    <h4>(for <span th:text="${season}"/> season)</h4>
                </div>
                <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
                    <table class="table table-striped">
                        <tr>
                            <th>Nr</th>
                            <th>Name</th>
                            <th class="row text-center">Matches</th>
                            <th>Bilans</th>
                            <th>Goals</th>
                            <th class="row text-center">Points</th>
                        </tr>
                        <tr th:each="club, iterStat : ${clubs}" th:class="${iterStat.odd}? 'odd'">
                            <td th:text="${iterStat.count}"><a href="/club/@{club.id}"/></td>
                            <td th:text="${club.club.name}"/>
                            <td th:text="${club.matches}" class="row text-center"/>
                            <td th:text="${club.wins} + '-' + ${club.draws} + '-' + ${club.loses}"/>
                            <td th:text="${club.scoredGoals} + ' - ' + ${club.lostGoals}"/>
                            <td th:text="${club.points}" class="row text-center"/>
                        </tr>
                    </table>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${season} == '2017/2018'" >
                        <div class="col-lg-offset-3 col-lg-2">
                            <a th:href="@{/table/2}">2016/2017 table</a>
                        </div>
                        <div class="col-lg-4 col-lg-offset-3">
                            <a th:href="@{/table/1}">2015/2016 table</a>
                        </div>
                    </div>
                    <div th:if="${season} == '2016/2017'" >
                        <div class="col-lg-offset-3 col-lg-2">
                            <a th:href="@{/table}">2017/2018 table</a>
                        </div>
                        <div class="col-lg-4 col-lg-offset-3">
                            <a th:href="@{/table/1}">2015/2016 table</a>
                        </div>
                    </div>
                    <div th:if="${season} == '2015/2016'" >
                        <div class="col-lg-offset-3 col-lg-2">
                            <a th:href="@{/table}">2017/2018 table</a>
                        </div>
                        <div class="col-lg-4 col-lg-offset-3">
                            <a th:href="@{/table/2}">2016/2017 table</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>
</body>
</html>