<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>All users</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container" id="container">
        <div id="main">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <div th:if="${not #lists.isEmpty(users)}">
                <div class="row text-center">
                    <h2>Users Listing</h2>
                </div>
                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr style="background-color: #1c1818; color: #b9b5b5; font-size: 20px;">
                        <th>Id</th>
                        <th>NickName</th>
                        <th>Money</th>
                        <th>Role</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"><a href="/user/@{user.id}"/></td>
                        <td th:text="${user.username}"/>
                        <td sec:authorize="hasAuthority('ADMIN')" th:text="${#numbers.formatDecimal(user.moneyNow,1,2)}"/>
                        <td th:text="${user.mainRole}"/>
                        <td>
                            <a th:href="${'/user/show/' + user.id}">View</a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="${'/user/delete/' + user.id}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer id="footer">
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>
</body>
<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
</script>
</html>